.login-page {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.login-panel {
  width: 500px;
}
.link-forgot-password a { text-decoration: underline; }
.link-forgot-password a:hover { text-decoration: none; }
.link-forgot-password a:active { text-decoration: underline; }
.link-forgot-password a:visited { text-decoration: underline; }
.divider-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.icon {
  margin-right: 5px;
}
.icon--facebook {
  width: 20px;
}
.icon--google {
  width: 20px;
}
.form-row-split {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-column-gap: 10px;
}